@using ScrumNotesCombiner.App_Code.Helpers
@model ScrumNotesCombiner.Models.UsersList
@{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full_w">
    <div class="h_title">Users list:</div>
    <table>
        <thead>
            <tr>
                <th scope="col">Allias</th>
                <th scope="col">Domain name</th>
                <th scope="col">Roles</th>
                <th scope="col">e-mail</th>
                <th scope="col" style="width: 65px;">Action</th>
            </tr>
        </thead>
						
        <tbody>
        @foreach (var user in Model.UsersViewList)
        {
            @:<tr>

                @:<td>@Html.ActionLink(user.Allias, "ActionWithUser", "Users", new {id = user.Id, Useraction = "View"}, null)</td>
                @:<td>@user.ADusername</td>
                @:<td>@user.Role</td>
                @:<td>@user.Email</td>
                @:<td>
                    @Html.ActionImage("ActionWithUser", "Users", new { id = user.Id, UserAction = "Edit" }, "~/img/i_edit.png", "Edit", false)
                    @:&nbsp;
                    @Html.ActionImage("ActionWithUser", "Users", new { id = user.Id, UserAction = "Delete" }, "~/img/i_delete.png", "Delete",true)
                @:</td>
            @:</tr>
        }
        </tbody>
    </table>
    <button type="submit" class="add"> @Html.ActionLink("Create new user", "ActionWithUser", "Users", new {id = 0, UserAction = "Create"}, null)</button>
</div>
