@using ScrumNotesCombiner.App_Code.Helpers
@model ScrumNotesCombiner.Models.ProjectsList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full_w">
    <div class="h_title">Projects list:</div>
    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Admin</th>
                <th scope="col">Start date</th>
                <th scope="col">Est. finish date</th>
                <th scope="col" style="width: 65px;">Action</th>
            </tr>
        </thead>
						
        <tbody>
            @foreach (var project in Model.ProjectDatabaseList)
            {
                @:<tr>
                    @:<td>@Html.ActionLink(project.Allias, "ActionWithProject", "Home", new {id = project.Id, ProjectAction = "View"}, null)</td>
                    @:<td>@project.Admin</td>
                    @:<td>@project.StartDate</td>
                    @:<td>@project.EstFinishDate</td>
                    @:<td>
                        @Html.ActionImage("ActionWithProject", "Home", new { id = project.Id, ProjectAction = "Edit" }, "~/img/i_edit.png", "Edit", false)
                        @:&nbsp;
                        @Html.ActionImage("ActionWithProject", "Home", new { id = project.Id, ProjectAction = "Delete" }, "~/img/i_delete.png", "Delete",true)
                    @:</td>
                @:</tr>
            }
        </tbody>
    </table>
    <button type="submit" class="add">@Html.ActionLink("Create new Project", "ActionWithProject", "Home", new {id=0, ProjectAction = "Create"}, null)</button>
</div>

